/*coded with reference to course "Getting Started with CSS" by Jen Kramer from Frontend Masters*/
/* variables  */
:root {
    --navy: #012030;
    --dkblue: #2957ac;
    --ltblue: #46aae4;
    --aqua: #45C4B0;
    --dkgreen: #5fbb6a;
    --ltgreen: #b2ed7a;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}
/* Color Theme Swatches in Hex */
.Poseidon-1-hex { color: #012030; }
.Poseidon-2-hex { color: #13678A; }
.Poseidon-3-hex { color: #45C4B0; }
.Poseidon-4-hex { color: #5fbb6a; }
.Poseidon-5-hex { color: #DAFDBA; }
/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #071078; }
.My-Color-Theme-2-hex { color: #0B52D4; }
.My-Color-Theme-3-hex { color: #0073BD; }
.My-Color-Theme-4-hex { color: #0BBBD4; }
.My-Color-Theme-5-hex { color: #2a8d7e; }




/* border box model- this makes the margin,bordr&padding not additive--inherit applies it to all */
html {
    box-sizing: border-box;
}


/* general styles for the page */
body {
   padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--navy);
    color: var(--white);
    font-size: var(--font-size);
}
h1,h2,h3 {
    margin: 0;
}

a {
    color: var(--dkgreen);
}
a:hover {
    color: var(--ltgreen);
    text-decoration: none;
}

  
/*background color for divs*/

.section-ltblue {
    background-color: var(--ltblue);
}
.section-dkblue {
  background-color: var(--dkblue);
}

/* intro styles */



#intro-section{
  display: flex;
  flex-direction: row;
}
#intro {
    padding: 5rem;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--mono);
    font-size: 1rem;
}

.name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--ltgreen);
    display: block;
    font-weight: 300;
}

#intro h2 {
    font-size: 4rem;
}
#img-height {
  height: 80%;
  margin:100px 20px; }


/* projects section styles */


.section-width {
  padding: 3rem;
}
 

#project-img {
  height: 150px;
  margin:10px 20px;
}
.row {
  display: flex;
  flex-direction: row-reverse;
}


/*style for navy box around each project*/




/*Contact me styles*/
#contact {
    width: 400px;
    text-align:center;
    margin:0 auto;
    padding: 3rem 0;
}
#contact p:last-child {
    margin-top: 3rem;
}
/*Nav Bar Style*/
nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
  }
  
  nav h1 a {
    font-family: var(--sans);
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  nav li:first-child {
    flex-basis: 100%;
    text-align: center;
  }

  nav [class*="fa-"] {
    font-size: 150%;
    color: var(--ltgreen);
  }

  nav h1 [class*="fa-"]{
    font-size: 100%;
    color: var(--ltgreen);
  }

  nav a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  nav a:hover {
    color: var(--dkgreen);
  }
  /*Button Style*/
  .button {
    background-color: var(--dkgreen);
    padding:0.5rem;
    border-radius: 5px;
    font-family: var(--mono);
    text-decoration: none;
  }
  .button:hover {
    color: var(--white);
    background-color: var(--aqua);
  }
/* navbar media query/responsiveness for mobile*/
  @media (min-width:850px) {
    nav {
        max-width:1200px;
        margin:0 auto;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
  }
  
  /* footer section style*/

footer {
    text-align: center;
    padding: 4rem 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
}